body {
    font-size: 100%;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    color: #444;
    background-color: #fff;
}
img {
    border: 0 none;
}
h1 {
    margin: 40px 0 25px;
    font-size: 4.25em;
}
h1 > a {
    text-decoration: none;
    color: inherit;
}
h2 {
    margin: 35px 0 25px;
    font-size: 1.75em;
}
h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
}
table {
    border-collapse: collapse;
    margin-bottom: 25px;
}
td, th {
    border: 1px solid #d0d0d0;
    padding: 5px;
    text-align: left;
}
th {
    background-color: #f0f0f0;
}
#page {
    width: 700px;
    margin: 20px auto 100px;
    font-size: 12px;
    line-height: 17px;
}
#demo {
    font-size: 11px;
    max-width: 300px;
    margin: 40px auto;
}
